.product{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    &-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }

    &-img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;       
    }
}
.stock {
    font-weight: bold;
    color: #008000;

}

.plantillas {
    width: 100%;
}

