.product{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20%;
 

    &-container{
        gap: 40px;
        padding: 20px;
        width: 300px;
        grid-template-columns: repeat(2, 1fr);
        
    }

    &-img {
        max-width: 50%;
        height: auto;
        border-radius: 5px;  
    }
}

.stock {
    font-weight: bold;
    color: #008000;

}

.plantillas {
    width: 100%;
}

