//variables
//colores
$mainColor: gray;
$secondariColor:yellow;
$keyColor: rgb(11,11,11);
$white:rgb(238,233,233);
$black: black;
$bottomColor:#4caf50;

//fuentes

//alings
#centrado {
    text-align: center;
    margin: 20px;
    color: $secondariColor;
}